<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">想去哪聚...</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- restaurant list -->
<div class="container mt-5">
  <div class="text-right">
    <a type="button" class="btn btn-light pull-right" href="/restaurants/new">
      <i class="fas fa-plus-square"></i>
    </a>
  </div>
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurants}}
        <a href="./restaurants/{{this._id}}" class="text-secondary restaurants-list">
          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
              <span><a href="./restaurants/{{ this._id }}/edit"><i class="fas fa-edit text-info"></i></a></span>
              <form action="./restaurants/{{ this._id }}?_method=DELETE" method="POST" class="d-inline float-right">
                <button type="submit" class="btn btn-outline-light btn-sm"><i
                    class="fas fa-trash-alt text-dark"></i></button>
              </form>

            </div>
          </div>
        </a>
        {{/each}}

      </div>
    </div>
  </div>
</div>